html, body {
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#selectContainer {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 11px 0;
}

#countrySelect {
  width: 200px;
  margin: 0 auto;
}

#country-name {
  margin-right: 20px;
}


.weather-div {
  border-radius: 10px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  margin: 10px;
  padding: 5px;
}

.weather-modal-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#temp-reading {
  font-size: 30px;
}

#weather-icon {
  width: 150px;
}

#weather-div-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#weather-div-top img, #weather-div-top p, #weather-div-top span {
  margin: 0 auto;
}

#weather-div-bottom {
  display: flex;
  flex-direction: column;
}

.weather-div-bottom p {
  text-align: center;
  margin-bottom: -10px;
}

#bottom-weather-row {
  margin-top: 40px;
}

.icon-data-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
}

.bigger-icon {
  width: 10px;
}

.currency-table tr {
  display: flex;
  flex-direction: column;
}

.currency-input {
  width: 200px;
}

#convert {
  border-radius: 10px;
  margin-left: 50px;
  width: 200px;
}

#wikipedia-thumbnail {
  width: 300px;
}

.wikipedia-top-row h5, .wikipedia-top-row img {
  margin: 0 auto;
  text-align: center;
}

.newsDiv {
  border: solid 1px black;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.newsImage {
  width: 80%;
  border-radius: 5px;
  display: flex;
  justify-self: center;
}

.newsDate, .newsSource {
  font-weight:lighter;
}

.newsButton {
  border-radius: 10px;
  background-color: rgb(182, 87, 87);
  color: white;
}

.newsTitle {
  font-weight: bold;
}


@media (min-width: 450px) {
  .currency-table tr {
    display: flex;
    flex-direction: row;
  }

  .currency-input {
    width: 100px;
  }

  #convert {
    border-radius: 10px;
    margin-left: 200px;
  }
}

